@import './vendor/reset';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @import './layout_devices/mobile';
  
  
  @media screen and (min-width: 768px) {
    @import './layout_devices/tablet';
  }
  
  
  @media(min-width: 1024px) {
    @import './layout_devices/desktop';
  }